
    /* Estilos CSS */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }
    .logout-link {
      border: 1px solid #000;
      padding: 5px 10px;
      display: inline-block;
      background-color: red;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
    }

    h1 {
      margin: 0;
    }

    nav ul {
      list-style-type: none;
      padding: 0;
    }

    nav ul li {
      display: inline;
      margin-right: 10px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
    }

    section {
      padding: 20px;
    }

    h2 {
      color: #333;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
    }

    form label {
      display: block;
      margin-bottom: 5px;
    }

    form input,
    form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }

    form input[type="submit"] {
      background-color: #333;
      color: #fff;
      cursor: pointer;
    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    /* Estilos adicionales */
    .contact-form-container {
      max-width: 500px;
      margin: 0 auto;
    }

    .form-group {
      position: relative;
    }

    .form-group label {
      position: absolute;
      top: 10px;
      left: 10px;
      color: #999;
      transition: all 0.3s ease;
    }

    .form-group input,
    .form-group textarea {
      background-color: #fff;
      transition: all 0.3s ease;
    }

    .form-group input:focus,
    .form-group textarea:focus {
      background-color: #f5f5f5;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .form-group input:focus + label,
    .form-group textarea:focus + label,
    .form-group input:valid + label,
    .form-group textarea:valid + label {
      top: -15px;
      font-size: 12px;
      color: #333;
    }

    .form-group textarea {
      height: 120px;
    }

    .form-group input[type="submit"] {
      background-color: #333;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .form-group input[type="submit"]:hover {
      background-color: #555;
    }

    /* Animaciones */
    .fade-in {
      opacity: 0;
      animation: fadeIn 1s forwards;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }